<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:include filename="$(find centauro_urdf)/urdf/parts/centauro_arm.urdf.xacro" />


<!-- arms -->
<xacro:centauro_arm arm_num="1"  rot="1"  parent="torso_2">
      <origin xyz="${Shoulder_1_Ox} ${Shoulder_1_Oy} ${Shoulder_1_Oz}" rpy="${Shoulder_1_roll} ${Shoulder_1_pitch} ${Shoulder_1_yaw}"/>
   </xacro:centauro_arm>

<xacro:centauro_arm arm_num="2" rot="-1"  parent="torso_2">
      <origin xyz="${Shoulder_1_Ox} ${-Shoulder_1_Oy} ${Shoulder_1_Oz}" rpy="${-Shoulder_1_roll} ${Shoulder_1_pitch} ${-Shoulder_1_yaw}" />
</xacro:centauro_arm>

</robot>
