venv/
.idea/

casannis-ros-pkg/src/__pycache__/walking.cpython-36.pyc

casannis-ros-pkg/src/__pycache__/swing_leg_trj.cpython-36.pyc

src/__pycache__/walking.cpython-36.pyc

src/__pycache__/gait.cpython-36.pyc

plots/step_swing_zx.png

plots/step_forces.png

plots/step_forces.png

plots/step_forces.png

src/__pycache__/spline_optimization.cpython-36.pyc

src/__pycache__/trj_interpolation.cpython-36.pyc

src/__pycache__/roll_node.cpython-36.pyc

src/__pycache__/step_node.cpython-36.pyc

src/__pycache__/trot.cpython-36.pyc

src/__pycache__/tf_listener.cpython-36.pyc
