venv/
venv2/
.idea/

casannis-ros-pkg/src/__pycache__/walking.cpython-36.pyc

casannis-ros-pkg/src/__pycache__/swing_leg_trj.cpython-36.pyc

src/__pycache__/walking.cpython-36.pyc

src/__pycache__/gait.cpython-36.pyc

plots/step_swing_zx.png

plots/step_forces.png

plots/step_forces.png

plots/step_forces.png

src/__pycache__/spline_optimization.cpython-36.pyc

src/__pycache__/trj_interpolation.cpython-36.pyc

src/__pycache__/roll_node.cpython-36.pyc

src/__pycache__/step_node.cpython-36.pyc

src/__pycache__/trot.cpython-36.pyc

src/__pycache__/tf_listener.cpython-36.pyc

venv2/lib/python2.7/site-packages/scipy/sparse/linalg/eigen/lobpcg/tests/test_lobpcg.pyc

.gitignore

src/trj_interpolation.pyc

src/spline_optimization.pyc

src/roll_node.pyc

src/walking.pyc

src/tf_listener.pyc

src/__pycache__/step_with_payload.cpython-36.pyc

src/__pycache__/constraints.cpython-36.pyc

src/constraints.pyc

src/constraints.pyc
