venv/
.idea/

casannis-ros-pkg/src/__pycache__/walking.cpython-36.pyc

casannis-ros-pkg/src/__pycache__/swing_leg_trj.cpython-36.pyc

src/__pycache__/walking.cpython-36.pyc



CMakeCache.txt

CMakeFiles/3.10.2/CMakeCCompiler.cmake

CMakeFiles/3.10.2/CMakeCXXCompiler.cmake

CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin

CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
