<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- This is an attempt to model rod plate, the file is based on the ball hand -->

<xacro:macro name="rod_plate_end_effector" params="arm_num rot parent_link rod_mass *origin">

<link name="rod_plate${arm_num}">
    <inertial>
      <origin xyz="${4.8407693e+01*mmTom} ${-rot*2.0035723e+01*mmTom} ${-7.7533287e+01*mmTom}" rpy="0 0 0"/>
      <!--mass value="3.45345"/-->
      <mass value="${rod_mass}"/>
      <inertia ixx="${1.1323020e+04*mm2Tom2}"  ixy="${-6.7302376e+02*rot*mm2Tom2}"  ixz="${-2.8429136e+03*mm2Tom2}" iyy="${1.2661574e+04*mm2Tom2}" iyz="${-1.1815269e+03*rot*mm2Tom2}" izz="${8.4787328e+03*mm2Tom2}" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="3.1415 0.0 0.0"/>
      <geometry name="rod_plate${arm_num}_visual">
        <mesh filename="package://centauro_urdf/meshes/simple/RodPlate.stl" scale="0.001 ${-rot*0.001} 0.001" />
      </geometry>
      <material name="grey"/>
   </visual>
   <collision>
      <origin xyz="0.0 0.0 0.0" rpy="3.1415 0.0 0.0"/>
      <geometry name="rod_plate${arm_num}_collision">
        <mesh filename="package://centauro_urdf/meshes/simple/RodPlate.stl" scale="0.001 ${-rot*0.001} 0.001" />
      </geometry>
   </collision>
</link>

<link name="rod_plate${arm_num}_tip"/>

<!-- <origin xyz="0 -0.174 -0.049" rpy="1.570796 0.0 0.0"/ -->
<!-- Parent link is arm*_7 -->
<joint name="j_arm${arm_num}_8" type="fixed">
      <parent link="${parent_link}"/>
      <child link="rod_plate${arm_num}"/>
      <xacro:insert_block name="origin"/>

</joint>

<!-- tip frame is not perfectly correct, need to receive tf from cad -->
<joint name="j_rod_plate${arm_num}_tip" type="fixed">
	<parent link="rod_plate${arm_num}"/>
	<child link="rod_plate${arm_num}_tip"/>
	<origin xyz="0.06 0.0 -0.16" rpy="0.0 0.0 ${rot*0.349066}"/>
</joint>

<!-- add armX_8 link for legacy reasons (same as ballX) -->
<!-- setted arm*_8 in the CoG to control this frame -->
<joint name="j_rod_plate${arm_num}_fixed" type="fixed">
      <parent link="rod_plate${arm_num}"/>
      <child link="arm${arm_num}_8"/>
      <origin xyz="${4.8407693e+01*mmTom} ${-rot*2.0035723e+01*mmTom} ${-7.7533287e+01*mmTom}" rpy="0 0 0"/>
</joint>

<link name="arm${arm_num}_8">
    <inertial>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
</link>

</xacro:macro>

</robot>
