<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="centauro">

<xacro:property name="model_name" value="centauro" />
<xacro:property name="model_version" value="0.1" />


<!-- command line arguments -->
<xacro:arg name="add_legs" default="true"/>
<xacro:arg name="add_upper_body" default="true"/>

<!-- ************SELECT PARTS*************-->
<!-- *************************************-->
<xacro:property name="ADD_LEGS" value="$(arg add_legs)" />
<xacro:property name="ADD_UPPER_BODY" value="$(arg add_upper_body)" />

<xacro:property name="ADD_BALL_END_EFFECTOR" value="true" />

<xacro:property name="ADD_FLOATING_BASE" value="$(arg add_legs)" />
<xacro:property name="ADD_VIRTUAL_FRAME" value="true" />

<xacro:property name="USE_STICKS" value="false" />

</robot>
