<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:macro name="ball_end_effector" params="arm_num parent_link ball_mass *origin">

<link name="ball${arm_num}">
    <inertial>
      <origin xyz="${-1.0072498e-02*mmTom} ${3.7590658e-02*mmTom} ${1.9772332e+01*mmTom}" rpy="0 0 0"/>
      <mass value="${ball_mass}"/>
      <inertia ixx="${2.3061092e+03*mm2Tom2}"  ixy="${2.9181758e-01*mm2Tom2}"  ixz="${-2.1246684e-01*mm2Tom2}" iyy="${2.3053155e+03*mm2Tom2}" iyz="${7.9290978e-01*mm2Tom2}" izz="${3.0675616e+03*mm2Tom2}" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry name="ball${arm_num}_visual">
        <mesh filename="package://centauro_urdf/meshes/BallHand.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="grey"/>
   </visual>
   <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry name="ball${arm_num}_collision">
        <mesh filename="package://centauro_urdf/meshes/simple/BallHand.stl" scale="0.001 0.001 0.001" />
      </geometry>
   </collision>
</link>

<link name="ball${arm_num}_tip"/>


<joint name="j_arm${arm_num}_8" type="fixed">
      <parent link="${parent_link}"/>
      <child link="ball${arm_num}"/>
      <xacro:insert_block name="origin"/>
</joint>

<joint name="j_ball${arm_num}_tip" type="fixed">
	<parent link="ball${arm_num}"/>
	<child link="ball${arm_num}_tip"/>
	<origin xyz="0 0 -0.07" rpy="0 0 0"/>
</joint>

<!-- add armX_8 link for legacy reasons (same as ballX) -->
<joint name="j_ball${arm_num}_fixed" type="fixed">
      <parent link="ball${arm_num}"/>
      <child link="arm${arm_num}_8"/>
      <origin xyz="${-1.0072498e-02*mmTom} ${3.7590658e-02*mmTom} ${1.9772332e+01*mmTom}" rpy="0 0 0"/>
</joint>
<link name="arm${arm_num}_8">
    <inertial>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
</link>

</xacro:macro>

</robot>
