<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:if value="${ADD_LEGS}">

<gazebo reference="wheel_1">
    <material>Gazebo/Residential </material>
    <collision>
        <surface>
            <friction>
		<torsional>
	            <coefficient> 1.0 </coefficient>
	            <use_patch_radius>true</use_patch_radius>
	            <patch_radius>0.2</patch_radius>
                </torsional>
                <ode>
                    <mu>1.0</mu>
                    <mu2>1.0</mu2>
                </ode>
                <bullet>
                    <friction>1.0</friction>
                    <friction2>1.0</friction2>
                </bullet>
            </friction>
            <contact>
                <ode>
                    <kp>2100000</kp>
                    <kd>1</kd>
                    <max_vel>100</max_vel>
                </ode>
                <bullet>
                    <soft_cfm>0.007</soft_cfm>
                    <soft_erp>0.25</soft_erp>
                    <kp>1000000</kp>
                    <kd>5</kd>
                </bullet>
            </contact>
        </surface>
    </collision>
</gazebo>

<gazebo reference="wheel_2">
    <material>Gazebo/Residential</material>
    <collision>
        <surface>
            <friction>
		<torsional>
	            <coefficient> 1.0 </coefficient>
	            <use_patch_radius>true</use_patch_radius>
	            <patch_radius>0.2</patch_radius>
                </torsional>
                <ode>
                    <mu>1.0</mu>
                    <mu2>1.0</mu2>
                </ode>
                <bullet>
                    <friction>1.0</friction>
                    <friction2>1.0</friction2>
                </bullet>
            </friction>
            <contact>
                <ode>
                    <kp>2100000</kp>
                    <kd>1</kd>
                    <max_vel>100</max_vel>
                </ode>
                <bullet>
                    <soft_cfm>0.007</soft_cfm>
                    <soft_erp>0.25</soft_erp>
                    <kp>1000000</kp>
                    <kd>5</kd>
                </bullet>
            </contact>
        </surface>
    </collision>
</gazebo>

<gazebo reference="wheel_3">
    <material>Gazebo/Residential </material>
    <collision>

        <surface>
            <friction>
		<torsional>
	            <coefficient> 1.0 </coefficient>
	            <use_patch_radius>true</use_patch_radius>
	            <patch_radius>0.2</patch_radius>
                </torsional>
                <ode>
                    <mu>1.0</mu>
                    <mu2>1.0</mu2>
                </ode>
                <bullet>
                    <friction>1.0</friction>
                    <friction2>1.0</friction2>
                </bullet>
            </friction>
            <contact>
                <ode>
                    <kp>2100000</kp>
                    <kd>1</kd>
                    <max_vel>100</max_vel>
                </ode>
                <bullet>
                    <soft_cfm>0.007</soft_cfm>
                    <soft_erp>0.25</soft_erp>
                    <kp>1000000</kp>
                    <kd>5</kd>
                </bullet>
            </contact>
        </surface>
    </collision>
</gazebo>
<gazebo reference="wheel_4">
    <material>Gazebo/Residential</material>
    <collision>
        <surface>
            <friction>
		<torsional>
	            <coefficient> 1.0 </coefficient>
	            <use_patch_radius>true</use_patch_radius>
	            <patch_radius>0.2</patch_radius>
                </torsional>
                <ode>
                    <mu>1.0</mu>
                    <mu2>1.0</mu2>
                </ode>
                <bullet>
                    <friction>1.0</friction>
                    <friction2>1.0</friction2>
                </bullet>
            </friction>
            <contact>
                <ode>
                    <kp>2100000</kp>
                    <kd>1</kd>
                    <max_vel>100</max_vel>
                </ode>
                <bullet>
                    <soft_cfm>0.007</soft_cfm>
                    <soft_erp>0.25</soft_erp>
                    <kp>1000000</kp>
                    <kd>5</kd>
                </bullet>
            </contact>
        </surface>
    </collision>
</gazebo>


<gazebo reference="hip_yaw_1">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="hip_pitch_1">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="knee_pitch_1">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="ankle_pitch_1">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="ankle_yaw_1">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="j_wheel_1">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>

<gazebo reference="hip_yaw_2">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="hip_pitch_2">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="knee_pitch_2">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="ankle_pitch_2">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="ankle_yaw_2">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="j_wheel_2">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>

<gazebo reference="hip_yaw_3">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="hip_pitch_3">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="knee_pitch_3">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="ankle_pitch_3">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="ankle_yaw_3">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="j_wheel_3">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>

<gazebo reference="hip_yaw_4">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="hip_pitch_4">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="knee_pitch_4">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="ankle_pitch_4">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="ankle_yaw_4">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="j_wheel_4">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>

</xacro:if>

<xacro:if value="${ADD_UPPER_BODY}">

<gazebo reference="torso_yaw">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>

<gazebo reference="j_arm1_1">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="j_arm1_2">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="j_arm1_3">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="j_arm1_4">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="j_arm1_5">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="j_arm1_6">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="j_arm1_7">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>


<gazebo reference="j_arm2_1">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="j_arm2_2">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="j_arm2_3">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="j_arm2_4">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="j_arm2_5">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="j_arm2_6">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="j_arm2_7">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>

</xacro:if>

</robot>
